.easy-editor {
  position: relative;
  border: 1px solid #ccc;
  .editor {
    border: 1px solid #ccc;
  }
  .easy-editor-content {
    padding: 0 8px;
  }

  .easy-editor__video-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
